WebAppClientAdmin/src/conf/xml-resources/web-service-references/Admin/wsdl/localhost_8080/WebApp/Admin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webapp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webapp.com/" name="Admin">
<types>
<xsd:schema>
<xsd:import namespace="http://webapp.com/" schemaLocation="http://localhost:8080/WebApp/Admin?xsd=1"/>
</xsd:schema>
</types>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="delError">
<part name="parameters" element="tns:delError"/>
</message>
<message name="delErrorResponse">
<part name="parameters" element="tns:delErrorResponse"/>
</message>
<message name="addError">
<part name="parameters" element="tns:addError"/>
</message>
<message name="addErrorResponse">
<part name="parameters" element="tns:addErrorResponse"/>
</message>
<message name="getTables">
<part name="parameters" element="tns:getTables"/>
</message>
<message name="getTablesResponse">
<part name="parameters" element="tns:getTablesResponse"/>
</message>
<message name="getErrorDescription">
<part name="parameters" element="tns:getErrorDescription"/>
</message>
<message name="getErrorDescriptionResponse">
<part name="parameters" element="tns:getErrorDescriptionResponse"/>
</message>
<message name="createTable">
<part name="parameters" element="tns:createTable"/>
</message>
<message name="createTableResponse">
<part name="parameters" element="tns:createTableResponse"/>
</message>
<portType name="Admin">
<operation name="getAll">
<input wsam:Action="http://webapp.com/Admin/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://webapp.com/Admin/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="delError">
<input wsam:Action="http://webapp.com/Admin/delErrorRequest" message="tns:delError"/>
<output wsam:Action="http://webapp.com/Admin/delErrorResponse" message="tns:delErrorResponse"/>
</operation>
<operation name="addError">
<input wsam:Action="http://webapp.com/Admin/addErrorRequest" message="tns:addError"/>
<output wsam:Action="http://webapp.com/Admin/addErrorResponse" message="tns:addErrorResponse"/>
</operation>
<operation name="getTables">
<input wsam:Action="http://webapp.com/Admin/getTablesRequest" message="tns:getTables"/>
<output wsam:Action="http://webapp.com/Admin/getTablesResponse" message="tns:getTablesResponse"/>
</operation>
<operation name="getErrorDescription">
<input wsam:Action="http://webapp.com/Admin/getErrorDescriptionRequest" message="tns:getErrorDescription"/>
<output wsam:Action="http://webapp.com/Admin/getErrorDescriptionResponse" message="tns:getErrorDescriptionResponse"/>
</operation>
<operation name="createTable">
<input wsam:Action="http://webapp.com/Admin/createTableRequest" message="tns:createTable"/>
<output wsam:Action="http://webapp.com/Admin/createTableResponse" message="tns:createTableResponse"/>
</operation>
</portType>
<binding name="AdminPortBinding" type="tns:Admin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delError">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addError">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTables">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Admin">
<port name="AdminPort" binding="tns:AdminPortBinding">
<soap:address location="http://localhost:8080/WebApp/Admin"/>
</port>
</service>
</definitions>